<div class="l-padding u-mt5">
  <div class="l-wrap--narrow">

    <%# <h1 class="u-mt2" style="font-size: 3em; font-weight: bold;">Components</h1> %>

    <%# Rich text content %>
    <div class="u-richtext f-scale-body u-mt2 u-mb10">

      <h2>Image API</h2>
      <p><pre><code>/{region}/{size}/{rotation}/{quality}.{format}</code></pre></p>

      <h3>Size Eample</h3>
      <%=  image_tag(Riiif::Engine.routes.url_helpers.image_path('lincoln_day', size: ',200')) %>
      <p><pre><code><%= Riiif::Engine.routes.url_helpers.image_path('lincoln_day', size: ',200') %></code></pre></p>

      <h3>Region Example</h3>
      <%=  image_tag(Riiif::Engine.routes.url_helpers.image_path('lincoln_day', region: 'pct:45,50,100,100', size: ",200")) %>
      <p><pre><code><%= Riiif::Engine.routes.url_helpers.image_path('lincoln_day', region: 'pct:45,0,120,140', size:'250')%></code></pre></p>

      <h3>Rotation Example</h3>
      <%=  image_tag(Riiif::Engine.routes.url_helpers.image_path('lincoln_day', rotation: '75', size:',200')) %>
      <p><pre><code><%= Riiif::Engine.routes.url_helpers.image_path('lincoln_day', rotation: '75', size:',200')%></code></pre></p>

      <h3>Quality Example</h3>
      <%=  image_tag(Riiif::Engine.routes.url_helpers.image_path('lincoln_day', quality: 'bitonal', region: 'full', size: ",200")) %>
      <p><pre><code><%= Riiif::Engine.routes.url_helpers.image_path('lincoln_day', quality: 'bitonal', region: 'full', size: ",200")%></code></pre></p>

      <h2>Image Information</h2>
      <a href="<%= root_url %>/image-service/lincoln_day/info.json">info.json</a>

      <h2>Collection Manifest</h2>
      <p><a href="<%= root_url %>/mainfest.json">manifest.json</a></p>
      <p><a href="https://universalviewer.io/uv.html?manifest=<%= root_url %>manifest.json#?c=0&m=0&s=0&cv=0&xywh=-258%2C0%2C2658%2C1499">Manifest loaded into Universal Viewer preview</a></p>


      <h2>Viewers</h2>

      <h3><a href="https://github.com/mejackreed/Leaflet-IIIF">Leaflet-IIIF</a></h3>

      <div id="leaflet" data-viewer-leaflet="<%= root_url %>image-service/lincoln_day/info.json">
      </div>

      <h3><a href="https://github.com/mejackreed/Leaflet-IIIF">Mirador</a></h3>

      <div id="mirador" data-viewer-mirador="<%= root_url %>manifest.json">
      </div>

    </div><%# end u-richtext %>

  </div>
</div>

