<%= form_with(model: item, local: true, multipart: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :naId %>
    <%= form.text_field :naId %>
  </div>

  <%# <%= render "shared/image_fields", form: form %>

  <div id='tasks'>
    <%= form.fields_for :record_objects do |record_group| %>
      <%= render 'record_group_fields', :f => record_group %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add record object', form, :record_objects %>
    </div>
  </div>

  <div class="actions">
    <br>
    <%= form.submit %>
  </div>

<% end %>
