<p id="notice"><%= notice %></p>

<h1 class="mdc-typography--headline1">Items</h1>

<div class="mdc-data-table">
  <table class="mdc-data-table__table" aria-label="Dessert calories">
    <thead>
      <tr class="mdc-data-table__header-row">
        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Title</th>
        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">naId</th>
        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Preview</th>
        <th class="mdc-data-table__header-cell" role="columnheader" scope="col" colspan="3"></th>
      </tr>
    </thead>
    <tbody class="mdc-data-table__content">
      <% @items.each do |item| %>
      <tr class="mdc-data-table__row">
        <td class="mdc-data-table__cell">
          <%= item.title %>
        </td>
        <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
          <%= item.naId %>
        </td>
        <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
          <% if item.record_objects.any? %>
            <% item.record_objects.each do |ro| %>
            <ul class="mdc-image-list my-image-list">
              <li class="mdc-image-list__item">
                <div class="mdc-image-list__image-aspect-container">
                  <%= image_tag iiif_url_from_params(ro.image, {size: "25,25"}), alt: '', class:"mdc-image-list__image" %>
                </div>
                <%# <div class="mdc-image-list__supporting">
                  <span class="mdc-image-list__label">Text label</span>
                </div> %>
              </li>
            </ul>
            <% end %>
          <% end %>
        </td>
        <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
          <%= link_to 'Show', item, class: "mdc-button mdc-button--unelevated" %>
        </td>
        <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
          <%= link_to 'Edit', edit_item_path(item), class: "mdc-button mdc-button--outlined" %>
        </td>
        <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
          <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, class: "mdc-button" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<div class="tools-footer">
  <%= link_to 'New Item', new_item_path, class: "mdc-button mdc-button--unelevated" %>
</div>
