<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>NaId:</strong>
  <%= @item.naId %>
</p>

<% @item.record_objects.each_with_index do |ro| %>
  
  <p>
    <strong>Label:</strong>
    <%= @ro.label %>
  </p>
<% end %>

<% if @item.try(:image).present? %>
  <p>
    <strong>Image:</strong><br>
    <%= image_tag image_variant_url(@item.image, :small), alt: '' %>
    <%# <%= image_tag iiif_url_from_params(@item.image, {rotation: 90}), alt: '' %>

    <%# This renders a scaled asset from the IIIF image server %>
    <%#= image_tag iiif_variant_url(@item.image, :small), alt: '' %>
  </p>
  <p>
    <strong>Image Default:</strong>
    <%= link_to iiif_url_from_params(@item.image), iiif_url_from_params(@item.image), target: "_blank" %>
  </p>
  <p>
    <strong>Image IIIF Info:</strong>
    <%= link_to iiif_info_url(@item.image), iiif_info_url(@item.image), target: "_blank" %>
  </p>
<% end %>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
