<p id="notice"><%= notice %></p>

<h1 class="mdc-typography--headline3"><%= @item.title %></h1>

<p>
  <strong>NaId:</strong>
  <%= @item.naId %>
</p>

<p>
  <strong>Manifest:</strong>
  <%= link_to v1_manifest_url(@item.naId), v1_manifest_url(@item.naId), target: "_blank" %>
</p>

<p>
  <strong>Universal Viewer Demo:</strong>
  <%= link_to "http://universalviewer.io/uv.html?manifest=#{v1_manifest_url(@item.naId)}", "http://universalviewer.io/uv.html?manifest=#{v1_manifest_url(@item.naId)}", target: "_blank" %>
</p>

<h2 class="mdc-typography--headline5">Objects</h2>
<div class="mdc-data-table">
  <table class="mdc-data-table__table" aria-label="Dessert calories">
    <thead>
      <tr class="mdc-data-table__header-row">
        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Label</th>
        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Thumbnail</th>
        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Format</th>
        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">IIIF @id</th>
      </tr>
    </thead>
    <tbody class="mdc-data-table__content">
      <% @item.record_objects.each_with_index do |ro| %>
      <tr class="mdc-data-table__row">
        <td class="mdc-data-table__cell">
          <%= ro.label %>
        </td>
        <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
          <%= image_tag iiif_url_from_params(ro.image, {size: "75,75"}), alt: '' %>
        </td>
        <td>
          <%= ro.image.image.content_type %>
        </td>
        <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
          <%= link_to iiif_id_url(ro.image), iiif_id_url(ro.image), target: "_blank" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%#= render "items/record_object_grid" %>

<div class="tools-footer">
  <%= link_to 'Edit', edit_item_path(@item), class: "mdc-button mdc-button--unelevated" %>
  <%= link_to 'Back', items_path, class: "mdc-button mdc-button--outlined" %>
</div>
